@import '../variables';

/*HTML CSS*/

.progress {
  background-color: rgba(255, 255, 255, 0.767);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 20px;
  width: 500px;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: $progress;
  height: 20px;
  width: 0;
  @keyframes load {
  0% { width: 0; }
  100% { width: 90%; }
  }
}

/*JAVASCRIPT REACT*/

.progress-value1 {
  animation: load1 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: $progress2;
  height: 20px;
  width: 0;
  
  @keyframes load1 {
  0% { width: 0; }
  100% { width: 80%; }
  }
}

/*MICROSOFT OFFICE*/

.progress-value2 {
  animation: load2 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: $progress;
  height: 20px;
  width: 0;
  
  @keyframes load2 {
  0% { width: 0; }
  100% { width: 80%; }
  }
}

/*BASH*/

.progress-value3 {
  animation: load3 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: $progress;
  height: 20px;
  width: 0;
  
  @keyframes load3 {
  0% { width: 0; }
  100% { width: 50%; }
  }
}

/*VMARE*/

.progress-value4 {
  animation: load4 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: $progress2;
  height: 20px;
  width: 0;
  
  @keyframes load4 {
  0% { width: 0; }
  100% { width: 65%; }
  }
}



