@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body{
  height: calc(100vh - 8em);
}

/*NAV*/

nav {
  position: absolute;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

nav span {
  font-family: 'Poppins', sans-serif;
  padding: 0vh 3vh 0vh 3vh;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

nav span:hover {
  color: rgb(26, 10, 247);
}

.list {
  padding: 3vh 10vh 20px 20px;
}

/*HEADER*/

.background {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.line-1{
    position: absolute;
    top: 50%;  
    width: 5em;
    color: white;
    font-weight: bold;
    font-family: 'Anonymous Pro', monospace; 
    margin: 0 auto;
    border-right: 2px solid white;
    font-size: 200%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 1000ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 11em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/*ABOUT*/

.aboutsect {
  margin-bottom: 10%
}

.row {
  width: 100%
}

.photo-me {
  width: 85vh;
  height: 60vh;
  border-radius: 2%;
  margin-bottom: 5vh;
}

.t-about {
  margin-top: 5%;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.t-about h2 {
  color: #212121;
}

.t-about span {
  color: rgb(26, 10, 247);
  background-color: rgb(209, 206, 253);
  border-radius: 5%;
}

.about-me {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(254, 239, 239);
  padding-top: 2%;
  padding-bottom: 2%;
}

.about-me h6 {
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 4vh;
  font-weight: bold;
  color: #212121;
}

.about-me p {
  margin-right: 2%;
  margin-left: 2%;
  line-height: 2rem;
  font-size: 14px;
  color: #828282;
  margin-bottom: 7%;
}

/*button*/

.boxA {
  text-decoration: none;
}

.boxSpan {
    position: relative;
    color: #1a0af7;
    background-color: transparent;
    border: 2px solid #1a0af7;
    padding: 13px 50px;
    z-index: 10;
    font-weight: bold;
    margin-top: 6%;
    font-size: 15px;
}

.box {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 77%;
  height: 8vh;
  margin-bottom: 5%;
  display: block;
  background-color: #d1cefd;
  z-index: 0;
}

/**/

.about-info p {
  border-bottom: dotted 1px grey;
  padding-bottom: 2vh;
  font-size: 13px;
  color: #212121;
}