@import '../components/framework/_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.form {
  background-color: $pink;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 5vh;
}

.form h2 {
  font-size: 50px;
  font-weight: bold;
  display: inline-flex;
  display: flex;
  justify-content: center;
}

.arround {
  margin-right: 20%;
  margin-left: 20%;
}

.form input {
  border-style: none;
  background-color: $black;
  color: rgb(159, 155, 155);
  outline: none;
  margin: 0vh 0vh 3vh 0vh;

  &::placeholder {
    color: rgb(159, 155, 155);
  }
  
  &:focus {
    background-color: $black;
    outline: none;
    color: rgb(159, 155, 155);
  }
}

textarea {
  border-style: none;
  background-color: $black;
  color: rgb(159, 155, 155);
  outline: none;
  margin: 3vh 0vh 3vh 0vh;
  width: 100%;

  &::placeholder {
    color: rgb(159, 155, 155);
  }
}