@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import '../components/framework/_variables.scss';

/*NAV*/

nav {
  position: absolute;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

nav span {
  font-family: 'Poppins', sans-serif;
  padding: 0vh 3vh 0vh 3vh;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

nav span:hover {
  color: rgb(209, 206, 253);
  transition: color, 1s;
}

.list {
  padding: 5vh 5vh 20px 20px;
  display: inline-flex !important;
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  display: inline;
}