@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import '../components/framework/_variables.scss';

/*NAV*/

nav {
  position: absolute;
  position: fixed;
  padding-right: 2%;
  width: 100% !important;
  z-index: 20;
  background-color: transparent;
  transition : background-color, 1s;
}

nav a {
  color: inherit;
  font-family: 'Poppins', sans-serif;
  padding: 0vh 6vh 0vh 3vh;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
  color: $primary;
  transition: color, 1s;
  text-decoration: none;
  }
}

.logo {
  font-family: 'Dancing Script', cursive;
  padding: 5vh 5vh 20px 20px;
  font-size: 60px;
  display: inline;
}