@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
@import '../components/framework/_variables.scss';

/*NAV*/

nav {
  z-index: 20;
  transition : background-color, 1s;
}

nav a {
  color: inherit;
  font-family: 'Poppins', sans-serif;
  padding: 0vh 6vh 0vh 2vh;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
  color: $primary;
  transition: color, 1s;
  text-decoration: none;
  }
}

.logo {
  font-family: 'Marck Script', cursive;
  padding: 2vh 0vh 2vh 2vh;
  display: inline;
}